#contenu img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#contenu p {
  margin: 0 0 1.5rem;
}

.text-align--right {
  text-align: right;
}

.text-align--center {
  text-align: center !important;
}

h2 {
  color: #000091;
}