[data-fr-theme="dark"] .fr-header__operator > img {
  content:url(/img/logo-blanc.png);
}

#contenu img, #contenu iframe {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#contenu p {
  margin: 0 0 1.5rem;
}

#contenu p.fr-callout__text {
  margin: 0;
}

.text-align--right {
  text-align: right;
}

.text-align--center {
  text-align: center !important;
}

main h2, main h3, main h4, main h5, main h6 {
  margin-top: 3rem;
}

main h3 {
  font-size: 1.5rem;
}

main h4 {
  font-size: 1rem;
}

h2.fr-card__title, h2.fr-tile__title, h2.fr-callout__title, h3.fr-card__title, h3.fr-tile__title, h3.fr-callout__title {
  margin-top: 0;
}

.fr-highlight {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.guide-bonne-pratique__summary__list > li {
  list-style-type: none;
}

.guide-bonne-pratique__summary__list > li > a::before {
  content: none;
}

/* reset summary font size */
.fr-summary__list > li > a {
  font-size: 1rem;
}

.fr-summary__title {
  font-size: 1rem;
  text-transform: none;
}