---
layout: layouts/numerique-responsable-collectivites.njk
title: Catalogue d'outils
description: Sélection non-exhaustive d'outils open source et libres d'utilisation dédiés aux impacts environnementaux du numérique
date: 2023-07-13
image: /img/publications/strategie-numerique-responsable-des-collectivites/strategie-numerique-responsable-collectivites.webp
type: publication
focus: true
eleventyExcludeFromCollections: true
---

<div class="fr-grid-row fr-grid-row--gutters">
   
{% for tool in collections.collectivitesOutils | sort(attribute="data.title") %}
  <div class="fr-col-12 fr-col-md-12">
    <div class="fr-card fr-enlarge-link fr-card--horizontal">
        <div class="fr-card__body">
            <p class="fr-card__detail">{{ tool.data.auteur }}</p>
            <h2 class="fr-card__title">
                <a href="{{ tool.url | url }}" class="fr-card__link">{{ tool.data.title }}</a>
            </h2>
        </div>
        
        <div class="fr-card__img">
            <img src="{{ tool.data.image }}" alt="">
        </div>
    </div> 
  </div>
{% endfor %}

</div>
