---
layout: layouts/home.njk
permalink: /actualités/
title: Actualités
eleventyNavigation:
  key: Actualités
  order: 30
---

{% include "breadcrumb.njk" %}

<h1>{{ title }}</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
