---
layout: layouts/base.njk
permalink: /agenda/
title: Agenda
description: Formations, événements, en cours et à venir
eleventyNavigation:
  key: agenda
  title: Agenda
  order: 32
---

{% include "breadcrumb.njk" %}

<h1>{{ title }}</h1>

<p>{{ description }}</p>

{% set postslist = collections.agenda %}
{% include "postslist.njk" %}
