---
title: Accueil
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
---
<h1>Accueil</h1>

<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
        <div class="fr-card fr-card--horizontal fr-enlarge-link">
            <div class="fr-card__body">
                <h2 class="fr-card__title">
                    <a href="/posts/webinaire-lancement-referentiel-ecoconception/" class="fr-card__link">Webinaire de lancement du Référentiel général d’écoconception de service numérique</a>
                </h2>
                <p class="fr-card__desc">
                    Nous vous annonçons le 19 octobre la publication en version bêta et la consultation publique d'un Référentiel général d'écoconception de service numérique. Ce document est piloté par la Dinum, le Ministère de la Transition Écologique, l'Ademe et l'Institut du Numérique Responsable.
                </p>
            </div>
            <div class="fr-card__img">
                <img src="/img/ecoconception/ecoconception.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <h2 class="fr-card__title">
                    <a href="/posts/guide-achats-numerique-responsable-version-beta/" class="fr-card__link">Guide pratique pour des achats numériques responsables</a>
                </h2>
                <p class="fr-card__desc">
                    Publication du guide en avril 2021 en version bêta suivi d'une consultation publique.
                </p>
            </div>
        </div>
    </div>

    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <h2 class="fr-card__title">
                    <a href="/réglementations/" class="fr-card__link">Que dit la loi ?</a>
                </h2>
                <p class="fr-card__desc">
                    En février 2020, la loi relative à l'Anti-gaspillage et à l'économie circulaire apportait
                    de nombreuses avancées en faveur d'un numérique plus soutenable.
                </p>
            </div>
        </div>
    </div>

    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <h2 class="fr-card__title">
                    <a href="/a-propos/" class="fr-card__link">À  propos</a>
                </h2>
                <p class="fr-card__desc">Présentation de la mission interministérielle Green Tech, les institutions engagées et les chantiers en cours.</p>
            </div>
        </div>
    </div>
</div>
