---
title: Accueil
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
---

<div class="fr-container-fluid">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-lg-8 fr-col-offset-lg-2">
            <h1 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">Réduire l’empreinte environnementale du numérique public</h1>
            <p class="fr-mb-3w">
            La MiNumEco, la Mission Interministérielle Numérique Écoresponsable, accompagne les administrations dans la réduction de l'empreinte environnementale du numérique public. Elle met à disposition de toutes les organisations publiques ou privées, des guides, des référentiels et des outils pour les accompagner dans cette démarche.
            </p>
            <p class="fr-mb-5w"><a class="fr-btn" href="/a-propos/">En savoir plus sur la mission interministérielle</a></p>
        </div>
    </div>
</div>


<section class="mise-en-avant fr-px-4w fr-py-1w fr-my-3w">
<h2>Actualités</h2>

<div class="fr-grid-row fr-grid-row--gutters fr-py-3w">
{% for post in collections.posts | head(-3) | reverse %}
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <h2 class="fr-card__title">
                    <a href="{{ post.url }}" class="fr-card__link">{{ post.data.title }}</a>
                </h2>
                <p class="fr-card__detail ">{{ post.data.date | readableDate }}</p>
            </div>
            <div class="fr-card__img">
                <img src="{{ post.data.image }}" alt="">
            </div>
        </div>
    </div>
{% endfor %}
</div>
<p><a href="/actualités/" class="fr-link fr-fi-arrow-right-line fr-link--icon-right">Voir plus d'actualités</a></p>
</section>



<h2>Ressources</h2>

<div class="fr-grid-row fr-grid-row--gutters fr-py-3w">
    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <h2 class="fr-card__title">
                    <a href="/publications/bonnes-pratiques/" class="fr-card__link">Guide de bonnes pratiques numérique responsable pour les organisations</a>
                </h2>
            </div>
            <div class="fr-card__img">
                <img src="/img/publications/bonnes-pratiques/guide-bonnes-pratiques-vignette.webp" alt="">
            </div>
        </div>
    </div>

    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <h2 class="fr-card__title">
                    <a href="/publications/guide-pratique-achats-numeriques-responsables/" class="fr-card__link">Guide pratique pour des achats numériques responsables</a>
                </h2>
            </div>
            <div class="fr-card__img">
                <img src="/img/publications/guide-pratique-achats-numeriques-responsables/guide-achats-numerique-responsable.webp" alt="">
            </div>
        </div>
    </div>

    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <h2 class="fr-card__title">
                    <a href="/publications/referentiel-general-ecoconception/" class="fr-card__link">Référentiel général d’écoconception de service numérique</a>
                </h2>
            </div>
            <div class="fr-card__img">
                <img src="/img/publications/referentiel-general-ecoconception/referentiel-ecoconception.webp" alt="">
            </div>
        </div>
    </div>
</div>

<p><a href="/publications/" class="fr-link fr-fi-arrow-right-line fr-link--icon-right">Voir toutes nos ressources</a></p>