---
layout: layouts/post.njk
title: Nouveautés
description: Les publications de la MiNumEco des plus récents aux plus anciens.
nouveautes:
  -
    title: Ajout de NumEcoEval dans la boite à outils
    url: /publications/boite-outils/fiches/numecoeval/
    description: Outil open source d’évaluation et de pilotage de l’empreinte environnementale des systèmes d’information.
    date: 2023-07-18
  -
    title: Publication d'un catalogue d'outils et d'une traduction opérationnelle pour la stratégie numérique responsable des collectivités
    url: /publications/strategie-numerique-responsable-des-collectivites/
    description: Afin de faciliter l'élaboration et la mise en oeuvre de ces nouvelles obligation par les collectivités concernées, la Mission interministérielle numérique responsable a travaillé avec le réseau des Interconnectés, dans le cadre du programme Transformation numérique des territoires à une traduction opérationnelle des nouvelles obligations fixées par ce décret.
    date: 2023-07-13
  -
    title: Ajout de eleventy-dsfr dans la boite à outils
    url: /publications/boite-outils/fiches/eleventy-dsfr/
    description: Template pour la création d’un site Internet statique utilisant le système de design de l’État avec Eleventy.
    date: 2023-07-11
  -
    title: Mise à jour de la page Réglementations
    url: /réglementations/
    description: Les dispositifs de politiques publiques françaises et européennes pour un numérique plus responsable 
    date: 2023-07-03
  -
    title: Publication du Guide des bonnes pratiques numérique responsable en version 1
    url: /publications/bonnes-pratiques/
    description: Après consultation publique, publication de la mise à jour du guide.
    date: 2023-06-19
  -
    title: Référentiel général d'écoconception, ajout d'une version pdf
    url: /publications/referentiel-general-ecoconception/
    description: Pour faciliter la lecture, format PDF contenant l'ensemble du référentiel.
    date: 2023-05-16
  -
    title: Ajout d'une page Financement
    url: /financement/
    description: Ouverture du guichet de financement FTAP pour les administration et opérateurs de l’État
    date: 2023-03-24
  -
    title: Déclaration d'écoconception
    url: /declaration-ecoconception/
    description: Publication de la déclaration d'écoconception et du taux de conformité au RGESN.
    date: 2023-02-24
  -
    title: Ajout d'une rubrique Thématiques
    url: /thematiques/
    description: "Parcourir les ressources de ce site par thématique : sensibilisation et formation, achats, service numérique, centre de données, réemploi, etc."
    date: 2023-01-27
  -
    title: Publication d’un guide de prise en compte de l’indice de réparabilité dans les achats publics
    url: /publications/guide-achat-indice-reparabilite/
    description: Ce guide vise à accompagner les acheteurs publics dans la mise en œuvre de l’obligation de prise en compte de l’indice de réparabilité, et plus largement à inspirer l’ensemble des acheteurs.
    date: 2023-01-05
  -
    title: Publication du Référentiel général d'écoconception de services numériques (RGESN) en version 1
    url: /publications/referentiel-general-ecoconception/
    description: "Référentiel co-pilotée par la Direction interministérielle du numérique (DINUM), le Ministère de la Transition Écologique, l’ADEME et l’Institut du Numérique Responsable est publié en version 1 accompagné d’un outil permettant de faciliter l’évaluation d’un service numérique, NumEcoDiag."
    date: 2022-11-29
  -
    title: Module de formation Numérique écoresponsable sur la plateforme Mentor
    url: /formations/
    description: Ce module de formation de 10 minutes réservé aux agents de l’État doit vous aider à comprendre les principaux enjeux environnementaux que pose le numérique et vous donner les clés pour mettre en place un plan d’action au niveau de votre organisation pour réduire votre empreinte environnementale de vos activités numériques.
    date: 2022-10-05
  -
    title: Écoconception, cybersécurité et protection des données, quelles synergies ?
    url: /publications/ecoconception-securite/
    description: La MiNumEco organise des ateliers avec des experts et des agents publics afin d’approfondir certaines thématiques, éclairer des points précis. Cette restitution est le résultat d’un atelier consacré aux convergences entre écoconception, cybersécurité et protection des données.
    date: 2022-07-01
  -
    title: "Vidéos : Vers un numérique écoresponsable"
    url: /publications/videos-vers-un-numerique-ecoresponsable/
    description: "La MiNumEco présente son programme \"Vers un numérique écoresponsable\", une série de vidéos pour aider à prendre en compte et réduire l'empreinte environnementale du numérique."
    date: 2022-05-12
  -
    title: "Fin d'usage, réemploi et fin de vie des équipements numériques, en pratique"
    url: /publications/fin-usage/
    description: "La MiNumEco organise des ateliers avec des experts et des agents publics afin d’approfondir certaines thématiques, éclairer des points précis et apporter des outils pour passer à l’action. Cette restitution est le résultat d’un atelier consacré à la fin d’usage des équipements numériques, produit grâce aux interventions de personnes expertes."
    date: 2022-04-20
  -
    title: "Guide de bonnes pratiques numérique responsable pour les organisations"
    url: /publications/bonnes-pratiques/
    description: "Ce guide répond à un besoin des organisations d’avoir un outil pour les accompagner dans la mise en œuvre de leur démarche et de leur plan d’action pour un numérique plus responsable."
    date: 2022-02-17
---

<p>{{ description }}</p>

<ul>
{% for nouveaute in nouveautes %}
  <li>
    <h2>
        <a href="{{ nouveaute.url | url }}">{{ nouveaute.title }}</a>
    </h2>
    <p>
      <b><time datetime="{{ nouveaute.date | htmlDateString }}">{{ nouveaute.date | readableDate }}</time></b>
    </p>
    <p>
      {{ nouveaute.description }}
    </p>
  </li>
{% endfor %}
</ul>
