---
layout: layouts/home.njk
permalink: /plan-du-site/
title: Plan du site
---

{% include "breadcrumb.njk" %}

<h1>Plan du site</h1>

<ul>
{% for item in collections.all | eleventyNavigation %}
  <li>
    <a href="{{ item.url }}">{{ item.title }}</a>

    {% if item.key == 'Actualités' %}
      <ul>
        {% for post in collections.posts %}
          <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if item.children.length %}
      <ul>
      {% for child in item.children %}
        <li>
          <a href="{{ child.url }}">{{ child.title }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
  <li>
    <a href="/mentions-legales/">Mentions légales</a>
  </li>
  <li>
    <a href="/accessibilité/">Accessibilité</a>
  </li>
  <li>
    <a href="/contact/">Contact</a>
  </li>
</ul>