---
layout: layouts/base.njk
title: "Lettre de la MiNumEco : lettre d'information sur LinkedIn"
description: "Retrouvez les lettres de la MiNumEco postées sur LinkedIn"
date: 2024-09-20
image: /img/publications/lettre-linkedin/lettre-1.webp
type: publication
focus: false # Cette publication est en 2e section
eleventyNavigation:
  key: lettre-linkedin-minumeco
  parent: publications
  title: "Lettre de la MiNumEco : lettre d'information sur LinkedIn"
  date: 2024-09-21
  image: /img/publications/lettre-linkedin/lettre-1.webp
  order: 230
---

{% include "breadcrumb.njk" %}

<h1>{{ title }}</h1>

<p>{{ description }}</p>

<!-- bouton d'inscription sur linkedIn -->

<style>
      .libutton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 7px;
        text-align: center;
        outline: none;
        text-decoration: none !important;
        color: #ffffff !important;
        width: 200px;
        height: 32px;
        border-radius: 16px;
        background-color: #0A66C2;
        font-family: "SF Pro Text", Helvetica, sans-serif;
      }
    </style>
<a class="libutton" href="https://www.linkedin.com/build-relation/newsletter-follow?entityUrn=7242864226900279296" target="_blank">S’abonner sur LinkedIn</a>


<!-- Affichage du contenu de la collection -->
<div class="fr-grid-row fr-grid-row--gutters">

{% set postslist = collections.lettrelinkedinminumeco %}   
{% for post in postslist %}
  <div class="fr-col-12 fr-col-md-3">
    <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
            <h2 class="fr-card__title">
                <a href="{{ post.url | url }}" class="fr-card__link">{{ post.data.title }}</a>
            </h2>
            <p class="fr-card__detail"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
        </div>
        <div>
            <img src="{{ post.data.apercu }}" class="fr-responsive-img" loading="lazy" alt="">
        </div>
    </div> 
  </div>
{% endfor %}

</div>
