---
layout: layouts/bonne-pratique/default.njk
permalink: /publications/bonnes-pratiques/bonnes-pratiques/
title: Exemples de bonnes pratiques numérique responsable
date: 2022-02-17
image: /img/guide-achats/guide-achats-numerique-responsable.png
extrajs: /js/filtre-referentiel-bp.js
eleventyNavigation:
  key: guideBpNr
---
{% set thematiques = collections.all | eleventyNavigationExtended("guideBpNr") %}

<p>
    <time class="fr-tag" datetime="{{ date | htmlDateString }}">Publié le {{ date | readableDate }}</time>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="#">Télécharger en PDF</a>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="/publications/bonnes-pratiques/referentiel-bonnes-pratiques-numerique-responsable-export.csv">Exporter en CSV</a>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="#">Flux JSON</a>
</p>

<div class="fr-callout fr-mb-3w">
    <p class="fr-callout__title">Consultation publique</p>
    <p class="fr-callout__text">
        Une consultation publique est ouverte à tous jusqu'au XX avril 2022 afin de valider ou d'enrichir ce guide.
    </p>
    <a class="fr-btn fr-fi-external-link-line fr-btn--icon-right" href="#">Participer à la consultation publique</a>
</div>

<nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
    <h6 class="fr-summary__title" id="fr-summary-title">Thématiques</h6>
    <ul class="fr-summary__list guide-bonne-pratique__summary__list" type="a">
    {% for thematique in thematiques %}
        <li>
            <a class="fr-summary__link" href="#{{ thematique.key }}">{{ thematique.data.idThematique }} – {{ thematique.title }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>

{% set thematiquesContent = collections.guideBpNrThematique %}

{% for thematique in thematiques %}
    <h2 id="{{ thematique.key }}">{{ thematique.title }}</h2>

    {% for thematiqueContent in thematiquesContent %}
        {% if thematiqueContent.url == thematique.url %}
            <section class="fr-accordion fr-mb-1w">
                <h3 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="introduction-{{ thematique.key }}">{{ thematique.data.idThematique }} – Introduction</button>
                </h3>
                <div class="fr-collapse" id="introduction-{{ thematique.key }}">
                    {{ thematiqueContent.templateContent | safe }}    
                </div>
            </section>
        {% endif %}
    {% endfor %}

    <ul>
    {% for bonnePratique in thematique.children %}
        <li data-type="sheet" data-priority="{{ bonnePratique.data.priority }}" data-difficulty="{{ bonnePratique.data.difficulty }}" data-who="{{ bonnePratique.data.who }}"><small>{{ bonnePratique.data.idbp }}</small> – <a href="{{ bonnePratique.url }}">{{ bonnePratique.data.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
