---
layout: layouts/bonne-pratique/default.njk
permalink: /publications/bonnes-pratiques/bonnes-pratiques/
title: Bonnes pratiques numérique responsable pour les organisations
date: 2023-06-19
image: /img/publications/bonnes-pratiques/guide-bonnes-pratiques-vignette.webp
extrajs: /js/filtre-bonnes-pratiques.js
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: guideBpNr
---
{% set thematiques = collections.all | eleventyNavigationExtended("guideBpNr") %}

<p>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="{{ metadata.guideBonnesPratiques.documentUrl }}">Télécharger en PDF ({{ metadata.guideBonnesPratiques.documentWeightInMo }} Mo)</a>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="/publications/bonnes-pratiques/guide-bonnes-pratiques-numerique-responsable-export-version-{{ metadata.guideBonnesPratiques.version }}.csv">Exporter en CSV</a>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="/publications/bonnes-pratiques/guide-bonnes-pratiques-numerique-responsable-export-version-{{ metadata.guideBonnesPratiques.version }}.json">Flux JSON</a>
</p>

<p>Exemples de bonnes pratiques à adapter selon le contexte de l'organisation.</p>

<nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
    <h6 class="fr-summary__title" id="fr-summary-title">Thématiques</h6>
    <ul class="fr-summary__list guide-bonne-pratique__summary__list" type="a">
    {% for thematique in thematiques %}
        <li>
            <a class="fr-summary__link" href="#{{ thematique.key }}">{{ thematique.data.idThematique }} {{ thematique.title }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>

{% set thematiquesContent = collections.guideBpNrThematique %}

{% for thematique in thematiques %}
    <h2 id="{{ thematique.key }}">{{ thematique.title }}</h2>

    {% for thematiqueContent in thematiquesContent %}
        {% if thematiqueContent.url == thematique.url %}
            <section class="fr-accordion fr-mb-1w">
                <h3 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="introduction-{{ thematique.key }}">Introduction</button>
                </h3>
                <div class="fr-collapse" id="introduction-{{ thematique.key }}">
                    {{ thematiqueContent.templateContent | safe }}    
                </div>
            </section>
        {% endif %}
    {% endfor %}

    <ul class="no-bullets">
    {% for bonnePratique in thematique.children %}
        <li data-type="sheet" data-priority="{{ bonnePratique.data.priority }}" data-difficulty="{{ bonnePratique.data.difficulty }}" data-who="{{ bonnePratique.data.who }}"><small class="fr-tag">{{ bonnePratique.data.idbp }}</small> <a href="{{ bonnePratique.url }}">{{ bonnePratique.data.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
