---
permalink: /publications/bonnes-pratiques/referentiel-bonnes-pratiques-numerique-responsable-export.csv
eleventyExcludeFromCollections: true
---
Titre;Catégorie;Url;
{% for category in collections.all | eleventyNavigationExtended("refbpnr") %}{% set items = category.children %}{% for item in items %}{{ item.title }};{{ category.title }};{{ item.url | url | absoluteUrl(metadata.url) }};
{% endfor %}{% endfor %}