---
permalink: /publications/bonnes-pratiques/guide-bonnes-pratiques-numerique-responsable-export-version-{{ metadata.guideBonnesPratiques.version }}.csv
eleventyExcludeFromCollections: true
---
"Id","Titre","Thématique","Priorité","Difficulté","Exemples pilotes","Exemples indicateurs","Url",
{% for thematique in collections.all | eleventyNavigationExtended("guideBpNr") -%}
{%- set items = thematique.children -%}
{%- for item in items %}{{ item.data.idbp | dump | safe }},{{ item.data.title | dump | safe }},{{ thematique.data.title | dump | safe }},{{ item.data.priority | dump | safe }},{{ item.data.difficulty | dump | safe }},{{ item.data.who | dump | safe }},{{ item.data.indicators | dump | safe }},{{ item.url | url | absoluteUrl(metadata.url) | dump | safe }},
{% endfor -%}
{%- endfor %}