---
layout: layouts/base.njk
title: "Vidéos : le réseau des référents ministériels numérique responsable"
description: "Mini-série vidéo : présentation du rôle des référents ministériels numérique responsable, des enjeux, des actions et du rôle de la DINUM dans l'animation du réseau."
date: 2024-07-20
image: /img/videos/miniserie/banniere-videos-miniserie.webp
type: publication
focus: false # Cette publication est en 2e section
eleventyNavigation:
  key: videosVersUnNumeriqueEcoresponsable
  parent: publications
  title: "Vidéos : le réseau des référents ministériels numérique responsable"
  date: 2024-07-19
  image: /img/videos/miniserie/banniere-videos-miniserie.webp
  order: 170
---

{% include "breadcrumb.njk" %}

<h1>{{ title }}</h1>

<p>{{ description }}</p>

<div class="fr-grid-row fr-grid-row--gutters">

{% set postslist = collections.miniserie %}   
{% for post in postslist %}
  <div class="fr-col-12 fr-col-md-3">
    <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
            <h2 class="fr-card__title">
                <a href="{{ post.url | url }}" class="fr-card__link">{{ post.data.title }}</a>
            </h2>
            <p class="fr-card__detail"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
        </div>
        <div>
            <img src="{{ post.data.apercu }}" class="fr-responsive-img" loading="lazy" alt="">
        </div>
    </div> 
  </div>
{% endfor %}

</div>
