---
layout: layouts/referentiel-ecoconception.njk
type: publication
eleventyExcludeFromCollections: true
date: 2021-10-19
image: /img/referentiel-ecoconception.png
pagination:
    data: referentiel-ecoconception
    size: 1
    alias: critere
permalink: "/publications/referentiel-general-ecoconception/critere/{{ critere.numero | slug }}/"
renderData:
    title: "{{ critere.critere }}"
---

<h1>{{ critere.critere }}</h1>

<p class="fr-text--sm">Version {{ metadata.referentielEcoconception.versionTitle }}. Dernière mise à jour le <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>

<p>
    <a href="/publications/referentiel-general-ecoconception/#{{ critere.thematique | slug }}" class="fr-tag">{{ critere.thematique }}</a>
</p>

<h2>Objectif</h2>

<p>{{ critere.objectif | markdown | safe }}</p>

<h2>Mise en œuvre</h2>

<p>{{ critere.miseEnOeuvre | markdown | safe }}</p>

<h2>Moyen de test ou de contrôle</h2>

<p>{{ critere.controle | markdown | safe }}</p>