---
layout: layouts/referentiel-ecoconception.njk
type: publication
eleventyExcludeFromCollections: true
date: 2024-06-18
image: /img/referentiel-ecoconception.png
pagination:
    data: referentiel-ecoconception-v2
    size: 1
    alias: critere-v2
permalink: "/publications/referentiel-general-ecoconception/critere-v2/{{ critere-v2.numero | slug }}/"
eleventyComputed:
    title: "{{ critere-v2.critere | safe }}"
---

<p>
    <a href="/publications/referentiel-general-ecoconception/#{{ critere-v2.thematique | slug }}" class="fr-tag">{{ critere.thematique }}</a>
</p>

<h2>Priorité</h2>

<p>{{ critere-v2.priorite | markdown | safe }}</p>

<h2>Difficulté</h2>

<p>{{ critere-v2.difficulte | markdown | safe }}</p>

<h2>Cible</h2>

<p>{{ critere-v2.cible | markdown | safe }}</p>

<h2>Moyen de test ou de contrôle</h2>

<p>{{ critere-v2.controle | markdown | safe }}</p>