---
layout: layouts/referentiel-ecoconception.njk
type: publication
eleventyExcludeFromCollections: true
date: 2024-09-24
image: /img/publications/referentiel-general-ecoconception/referentiel-ecoconception.webp
pagination:
    data: referentiel-ecoconception
    size: 1
    alias: critere
permalink: "/publications/referentiel-general-ecoconception/critere/{{ critere.numero | slug }}/"
eleventyComputed:
    title: "{{ critere.critere | safe }}"
---

<p>
    <a href="/publications/referentiel-general-ecoconception/#{{ critere.thematique | slug }}" class="fr-tag">{{ critere.thematique }}</a>
</p>

<h2>Objectif</h2>

<p>{{ critere.objectif | markdown | safe }}</p>

<h2>Mise en œuvre</h2>

<p>{{ critere.miseEnOeuvre | markdown | safe }}</p>

<h2>Moyen de test ou de contrôle</h2>

<p>{{ critere.controle | markdown | safe }}</p>