---
layout: layouts/referentiel-ecoconception.njk
type: publication
eleventyExcludeFromCollections: true
pagination:
    data: referentiel-ecoconception
    size: 1
    alias: critere
permalink: "/publications/referentiel-general-ecoconception/critere/{{ critere.numero | slug }}/"
renderData:
    title: "{{ critere.critere }}"
---

<h1>{{ critere.critere }}</h1>

<span class="fr-tag"><a href="/publications/referentiel-general-ecoconception/#{{ critere.thematique | slug }}">{{ critere.thematique }}</a></span>

<h2>Objectif</h2>

<p>{{ critere.objectif | markdown | safe }}</p>

<h2>Mise en œuvre</h2>

<p>{{ critere.miseEnOeuvre | markdown | safe }}</p>

<h2>Moyen de test ou de contrôle</h2>

<p>{{ critere.controle | markdown | safe }}</p>