---
layout: layouts/referentiel-ecoconception.njk
type: publication
eleventyExcludeFromCollections: true
date: 2022-11-28
image: /img/referentiel-ecoconception.png
pagination:
    data: referentiel-ecoconception-v1
    size: 1
    alias: critere-v1
permalink: "/publications/referentiel-general-ecoconception/critere-v1/{{ critere-v1.numero | string | slug }}/"
eleventyComputed:
    title: "{{ critere-v1.critere | string | safe }}"
---

{% set thematique = critere-v1.thematique | string %}

<p>
    {% if thematique %}
        <a href="/publications/referentiel-general-ecoconception-v1/#{{ thematique | slug }}" class="fr-tag">{{ thematique }}</a>
    {% endif %}
</p>

{% set objectif = critere-v1.objectif | string %}
{% set miseEnOeuvre = critere-v1.miseEnOeuvre | string %}
{% set controle = critere-v1.controle | string %}

<h2>Objectif</h2>
{% if objectif %}
    <p>{{ objectif | markdown | safe }}</p>
{% else %}
    <p>Non disponible</p>
{% endif %}

<h2>Mise en œuvre</h2>
{% if miseEnOeuvre %}
    <p>{{ miseEnOeuvre | markdown | safe }}</p>
{% else %}
    <p>Non disponible</p>
{% endif %}

<h2>Moyen de test ou de contrôle</h2>
{% if controle %}
    <p>{{ controle | markdown | safe }}</p>
{% else %}
    <p>Non disponible</p>
{% endif %}
