---
layout: layouts/referentiel-ecoconception.njk
title: Référentiel général d'écoconception de services numériques (RGESN)
image: /img/referentiel-ecoconception.png
description: Référentiel mené dans le cadre de la mission interministérielle numérique écoresponsable et co-pilotée par la Direction interministérielle du numérique (DINUM), le Ministère de la Transition Écologique, l’ADEME et l’Institut du Numérique Responsable.
type: publication
focus: true
date: 2022-11-28
pagination:
  data: referentiel-ecoconception
  size: 1000
  alias: critere
eleventyNavigation:
  key: referentiel-ecoconception
  parent: publications
  title: Référentiel général d'écoconception de services numériques
  date: 2024-16-18
  image: /img/referentiel-ecoconception.png
  order: 90
---


<img src="/img/rgesn-v2-arcep/banniere-rgesn-v2-arcep.jpg" alt="bannière présentation du RGESN version 2" />

<p class="fr-py-2w">
    <span class="fr-tag">Version : {{ metadata.referentielEcoconception.versionTitle }}</span>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="/docs/2024/referentiel_general_ecoconception_des_services_numeriques_version_2024.pdf">Format PDF (4,2 Mo)</a>
</p>

<p>La loi relative à la réduction de l’empreinte environnementale du numérique (loi « REEN) a confié à l’Arcep et l’Arcom la définition, en lien avec l’ADEME, du contenu de la nouvelle version du référentiel général de l’écoconception des services numériques. Un projet de référentiel a été mis en consultation publique à l’automne 2023, et des ateliers de concertation avec l’écosystème et des experts de la société civile ont également permis de contribuer à l’élaboration de ce référentiel. 
Cette version 2024 reprend et complète les travaux menés en 2022 dans le cadre de la mission interministérielle numérique responsable et co-pilotée par la Direction interministérielle du numérique (DINUM),
le Ministère de la Transition Écologique, l’ADEME et l’Institut du Numérique Responsable. 
Les objectifs sont de réduire la consommation de ressources informatiques et énergétiques et la contribution
à l’obsolescence des équipements, qu’il s’agisse des équipements utilisateurs ou des équipements réseau ou serveur. <a href="/publications/referentiel-general-ecoconception/a-propos/">En savoir plus</a>.</p>

<p><a href="https://www.arcep.fr/uploads/tx_gspublication/referentiel_general_ecoconception_des_services_numeriques_version_2024.pdf" target="_blank">Télécharger la version de mai 2024 en PDF sur le site de l'ARCEP</a></p>

<p>Mise à jour en cours</p>
