---
layout: layouts/referentiel-ecoconception.njk
title: Référentiel général d'écoconception de services numériques (RGESN) - 2024
image: /img/publications/referentiel-general-ecoconception/referentiel-ecoconception.webp
description: Référentiel d'Écoconception des Services Numériques.
type: publication
focus: true # Cette publication est en 1ère section
date: 2024-05-28
pagination:
  data: referentiel-ecoconception
  size: 1000
  alias: critere
eleventyNavigation:
  key: referentiel-ecoconception
  parent: publications
  title: Référentiel général d'écoconception de services numériques
  date: 2024-06-18
  image: /img/publications/referentiel-general-ecoconception/referentiel-ecoconception.webp
  order: 90
---


<img src="/img/publications/referentiel-general-ecoconception/banniere-rgesn-v2-arcep.webp" alt="bannière présentation du RGESN version 2" />

<p class="fr-py-2w">
    <span class="fr-tag">Version : {{ metadata.referentielEcoconception.versionTitle }}</span>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="/docs/2024/rgesn-mai2024/referentiel_general_ecoconception_des_services_numeriques_version_2024.pdf">Format PDF (4,2 Mo)</a>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="/docs/2024/rgesn-mai2024/rgesn_2024_outil_declaration_ecoconception.ods">Outil d'évaluation en Open Document (ODS 101 Ko)</a>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="/docs/2024/rgesn-mai2024/rgesn_2024_outil_declaration_ecoconception.xlsx">Outil d'évaluation en format Excel (XLS 129 Ko)</a>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="/docs/2024/rgesn-mai2024/rgesn_2024_exemple_declaration_ecoconception.docx">Exemple de déclaration d'écoconception, format word (DOCX 15 Ko)</a>
    <a class="fr-link fr-fi-download-line fr-link--icon-left" href="/docs/2024/rgesn-mai2024/rgesn_2024_exemple_declaration_ecoconception.odt">Exemple de déclaration d'écoconception, format open document (ODT 50 Ko)</a>
</p>

<p>La loi relative à la réduction de l’empreinte environnementale du numérique (loi REEN) a confié à l’Arcep et l’Arcom la définition, en lien avec l’ADEME, du contenu de la nouvelle version du référentiel général de l’écoconception des services numériques. Un projet de référentiel a été mis en consultation publique à l’automne 2023, et des ateliers de concertation avec l’écosystème et des experts de la société civile ont également permis de contribuer à l’élaboration de ce référentiel. </p>
<p>Cette version 2024 reprend et complète les travaux menés en 2022 dans le cadre de la mission interministérielle numérique responsable et co-pilotée par la Direction interministérielle du numérique (DINUM), le Ministère de la Transition Écologique, l’ADEME et l’Institut du Numérique Responsable. </p>
<p>Les objectifs sont de réduire la consommation de ressources informatiques et énergétiques et la contribution à l’obsolescence des équipements, qu’il s’agisse des équipements utilisateurs ou des équipements réseau ou serveur. 
<a href="/publications/referentiel-general-ecoconception/a-propos/">En savoir plus</a>.</p>

<nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
    <div class="fr-summary__title" id="fr-summary-title">Sommaire</div>
    <ol class="fr-summary__list">
    {% set thematique = null %}
    {%- for item in pagination.items %}
      {% if item.thematique != thematique %}
        {% set thematique = item.thematique %}
        <li>
          <a class="fr-summary__link" href="#{{ thematique | slug }}">{{ thematique }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ol>
</nav>

{% set thematique = null %}

{%- for item in pagination.items %}
  {% if item.thematique != thematique %}
    {% if null != thematique %}</ul>{% endif %}
    {% set thematique = item.thematique %}
    <h2 id="{{ thematique | slug }}">{{ thematique }}</h2>
    <p class="fr-text--sm">{{ metadata.referentielEcoconception.thematique[thematique | slug].description }}</p>
    <ul class="fr-accordions-group">
  {% endif %}

  <li>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-{{ item.numero }}">{{ item.numero }} – {{ item.critere }}</button>
      </h3>
      <div class="fr-collapse" id="accordion-{{ item.numero }}">
        <table class="fr-table">
          <thead>
            <tr>
              <th>Difficulté</th>
              <th>Priorité</th>
              <th>Cible</th>
              <th>Métiers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fr-highlight">{{ item.difficulte | default('') | markdown | safe }}</td>
              <td class="fr-highlight">{{ item.priorite | default('') | markdown | safe }}</td>
              <td class="fr-highlight">{{ item.cible | default('') | markdown | safe }}</td>
              <td class="fr-highlight">{{ item.metiers | default('') | markdown | safe }}</td>
            </tr>
          </tbody>
        </table>
        
        <p><b>Objectif</b></p>

        <div class="fr-highlight">{{ item.objectif | markdown | safe }}</div>

        <p><b>Mise en œuvre</b></p>

        <div class="fr-highlight">{{ item.miseEnOeuvre | markdown | safe }}</div>

        <p><b>Moyen de test ou de contrôle</b></p>

        <div class="fr-highlight">{{ item.controle | markdown | safe }}</div>

        <p><a href="/publications/referentiel-general-ecoconception/critere/{{ item.numero | slug }}/" class="fr-link fr-fi-arrow-right-line fr-link--icon-left">Permalien</a></p>
      </div>
    </section>
  </li>
{% endfor -%}
</ul>