---
layout: layouts/base.njk
---

{% include "layouts/bonne-pratique/breadcrumb.njk" %}

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
    <nav class="fr-sidemenu fr-sidemenu--sticky fr-col-12 fr-col-md-4" role="navigation" aria-label="Menu latéral">    
        <div class="fr-sidemenu__inner">
            <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Sommaire</button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
                <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item {% if '/publications/bonnes-pratiques/' == page.url %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="/publications/bonnes-pratiques/" {% if '/publications/bonnes-pratiques/' == page.url %}aria-current="page"{% endif %}>Le guide</a>
                    </li>
                    <li class="fr-sidemenu__item {% if '/publications/bonnes-pratiques/synthese/' == page.url %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="/publications/bonnes-pratiques/synthese/" {% if '/publications/bonnes-pratiques/synthese/' == page.url %}aria-current="page"{% endif %}>Synthèse</a>
                    </li>
                    <li class="fr-sidemenu__item {% if '/publications/bonnes-pratiques/a-propos/' == page.url %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="/publications/bonnes-pratiques/a-propos/" {% if '/publications/bonnes-pratiques/a-propos/' == page.url %}aria-current="page"{% endif %}>À propos</a>
                    </li>
                    <li class="fr-sidemenu__item">
                        <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-annexes">Annexes</button>
                        <div class="fr-collapse" id="fr-sidemenu-item-annexes">
                            <ul class="fr-sidemenu__list">
                                <li class="fr-sidemenu__item ">
                                    <a class="fr-sidemenu__link" href="#">Glossaire</a>
                                </li>
                                <li class="fr-sidemenu__item ">
                                    <a class="fr-sidemenu__link" href="#">Bibliographie sélective</a>
                                </li>
                                <li class="fr-sidemenu__item ">
                                    <a class="fr-sidemenu__link" href="#">Webographie</a>
                                </li>
                                <li class="fr-sidemenu__item">
                                    <a class="fr-sidemenu__link" href="#">Revoir le webinaire de lancement</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="fr-sidemenu__item">
                        <a class="fr-sidemenu__link" href="#">Consultation publique</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="fr-col-12 fr-col-md-8">
        <h1>{{ title }}</h1>

        {{ content | safe }}
    </div>
</div>
