---js
{
  title: "Actualités",
  pagination: {
    data: "collections.posts",
    size: 6,
    reverse: true,
  },
  layout: "layouts/page.njk",
  permalink: "/{{ lang }}/actualites/{% if pagination.pageNumber %}{{ pagePrefix }}{{ pagination.pageNumber + 1 }}/{% endif %}",
  eleventyNavigation: {
    key: "Actualités",
    order: 2
  }
}
---
<h2 class="fr-h4">{{ "filter_by_tag" | i18n }}</h2>
<div class="fr-mt-6v fr-mb-6w">
  {% set tags = collections.posts | filterCollectionLang | getAllTags %}
  {% include "components/taggroup.njk" %}
</div>
{% set postslist = pagination.items %}
{% include "postslist.njk" %}
{% include "templates/pagination.njk" %}
