---
layout: layouts/base.njk
---

{% include "breadcrumb.njk" %}

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
    <nav class="fr-sidemenu fr-sidemenu--sticky fr-col-12 fr-col-md-4" role="navigation" aria-label="Menu latéral">
        <div class="fr-sidemenu__inner">
            <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false">{% if bonnesPratiquesListe %}Sommaire et filtres{% else %}Sommaire{% endif %}</button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
                <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                        <a class="fr-sidemenu__link" href="#mission">La mission</a>
                    </li>
                    <li class="fr-sidemenu__item">
                        <a class="fr-sidemenu__link" href="#pilotes">Les pilotes</a>
                    </li>
                    <li class="fr-sidemenu__item">
                        <a class="fr-sidemenu__link" href="#equipe">L'équipe</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="fr-col-12 fr-col-md-8">
        <h1>{{ title }}</h1>

        {%- if date %}
        <p class="fr-text--sm">Dernière mise à jour le <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>
        {% endif %}

        {{ content | safe }}
    </div>
</div>