---
layout: layouts/base.njk
---

{% include "breadcrumb.njk" %}

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
  <div class="fr-col-12 fr-col-md-8 fr-col-offset-md-2">
    <h1>{{ title }}</h1>

    {{ content | safe }}
    
    <h2>Infos pratiques</h2>

    <p><b>Date :</b> {{ dateLabel }}</p>

    <p>
      <b>Lieu :</b>
      {% if locationLink %}
        <a href="{{ locationLink }}" target="_blank">{{ location }}</a>
      {% else %}
        {{ location }}
      {% endif %}
    </p>

  {% if link and linkTitle %}
    <p>
      <b>En savoir plus :</b> <a href="{{ link }}" target="_blank">{{ linkTitle }}</a>
    </p>
  {% endif %}
  </div>
</div>
