<!doctype html>
<html lang="fr" data-fr-theme>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ((renderData.title or seoTitle or title) ~ ' - ' ~ metadata.title) or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/dsfr.min.css' | url }}">

    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
    <link rel="icon" href="/favicons/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/favicons/manifest.webmanifest" crossorigin="use-credentials">

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="fr-skiplinks">
        <nav class="fr-container" role="navigation" aria-label="Accès rapide">
            <ul class="fr-skiplinks__list">
                <li>
                    <a class="fr-link" href="#contenu">Contenu</a>
                </li>
                <li>
                    <a class="fr-link" href="#header-navigation">Menu</a>
                </li>
                <li>
                    <a class="fr-link" href="#footer">Pied de page</a>
                </li>
            </ul>
        </nav>
    </div>

    <header role="banner" class="fr-header">
        <div class="fr-header__body">
            <div class="fr-container">
                <div class="fr-header__body-row">
                    <div class="fr-header__brand fr-enlarge-link">
                        <div class="fr-header__brand-top">
                            <div class="fr-header__logo">
                                <p class="fr-logo">
                                    République
                                    <br>Française
                                </p>
                            </div>

                            <div class="fr-header__navbar">
                                <button id="button-menu" class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="header-navigation" aria-haspopup="menu" title="Menu">
                                    Menu
                                </button>
                            </div>
                        </div>
                        <div class="fr-header__service">
                            <a href="/" title="Accueil - Mission Numérique écoresponsable">
                                <p class="fr-header__service-title">Numérique écoresponsable</p>
                            </a>
                            <p class="fr-header__service-tagline">Mission interministérielle pour réduire les impacts environnementaux du numérique</p>
                        </div>
                    </div>
                    <div class="fr-header__tools">
                        <div class="fr-header__tools-links">
                            <ul class="fr-links-group">
                                <li>
                                    <button class="fr-link fr-fi-theme-fill fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
                                </li>
                                <li>
                                    <a class="fr-link fr-fi-mail-line" href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-header__menu fr-modal" id="header-navigation" aria-labelledby="button-menu">
            <div class="fr-container">
                <button class="fr-link--close fr-link" aria-controls="header-navigation">Fermer</button>
                <div class="fr-header__menu-links"></div>
                <nav class="fr-nav" id="navigation-832" role="navigation" aria-label="Menu principal">
                    <ul class="fr-nav__list">
                    {%- for entry in collections.all | eleventyNavigation %}
                        <li class="fr-nav__item{% if entry.url == page.url %} fr-nav__item--active{% endif %}">
                            <a class="fr-nav__link" href="{{ entry.url | url }}" target="_self" {% if entry.url == page.url %}aria-current="page"{% endif %}>{{ entry.title }}</a>
                        </li>
                    {%- endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <main role="main">
        <div id="contenu" class="fr-container fr-py-3w">
        {{ content | safe }}
        </div>
    </main>

    <footer class="fr-footer" role="contentinfo" id="footer">
        <div class="fr-container">
            <div class="fr-footer__body ">
                <div class="fr-footer__brand fr-enlarge-link">
                    <a href="/" title="Retour à l’accueil">
                        <p class="fr-logo">
                            République
                            <br>Française
                        </p>
                    </a>
                </div>
                <div class="fr-footer__content">
                    <p class="fr-footer__content-desc">
                        Mission interministérielle Green Tech du programme Tech.Gouv pilotée par la
                        <a href="https://www.numerique.gouv.fr/">direction interministérielle du numérique</a>
                        et le <a href="https://www.ecologie.gouv.fr/">Ministère de la Transition écologique</a>.
                    </p>
                    <ul class="fr-footer__content-list">
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
                        </li>
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://gouvernement.fr">gouvernement.fr</a>
                        </li>
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://service-public.fr">service-public.fr</a>
                        </li>
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://data.gouv.fr">data.gouv.fr</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fr-footer__bottom">
                <ul class="fr-footer__bottom-list">
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="/plan-du-site/">Plan du site</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="/contact/">Contact</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="/accessibilité/">Accessibilité : totalement conforme</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="/mentions-legales/">Mentions légales</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="/données-personnelles/">Données personnelles et cookies</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="{{ metadata.feed.path | url }}">Flux XML</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="{{ metadata.jsonfeed.path | url }}">Flux JSON</a>
                    </li>
                </ul>
                <div class="fr-footer__bottom-copy">
                    <p>
                        Sauf mention contraire, tous les textes de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md">licence etalab-2.0</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <dialog id="fr-theme-modal" class="fr-modal" role="dialog" aria-labelledby="fr-theme-modal-title">
        <div class="fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link" aria-controls="fr-theme-modal">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-theme-modal-title" class="fr-modal__title">
                                Paramètres d’affichage
                            </h1>
                            <div id="fr-switch-theme" class="fr-form-group fr-switch-theme">
                                <fieldset class="fr-fieldset">
                                    <legend class="fr-fieldset__legend">Choisissez un thème pour personnaliser l’apparence du site.</legend>
                                    <div class="fr-fieldset__content">
                                        <div class="fr-radio-group fr-radio-rich">
                                            <input type="radio" id="fr-radios-theme-light" name="fr-radios-theme" value="light">
                                            <label class="fr-label" for="fr-radios-theme-light">Thème clair</label>
                                        </div>
                                        <div class="fr-radio-group fr-radio-rich">
                                            <input type="radio" id="fr-radios-theme-dark" name="fr-radios-theme" value="dark">
                                            <label class="fr-label" for="fr-radios-theme-dark">Thème sombre</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>

    <script src="/js/dsfr.module.min.js"></script>
    <script src="/js/smarttag.js"></script>
    <script src="/js/mesure-audience.js"></script>

{% if extrajs %}
    <script src="{{ extrajs }}"></script>
{% endif %}
  </body>
</html>