---
layout: layouts/bonne-pratique/default.njk
---

<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-189">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-189">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/publications/">Publications</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/publications/bonnes-pratiques/">Guide des bonnes pratiques</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/publications/bonnes-pratiques/#{{ eleventyNavigation.parent }}">[{{ eleventyNavigation.parent }}]</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" aria-current="page">{{ idbp }} – {{ title }}</a>
            </li>
        </ol>
    </div>
</nav>

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
  <div class="fr-col-12 fr-col-md-8">
    {{ content | safe }}

    {%- if date %}
      <p><time class="fr-tag" datetime="{{ date | htmlDateString }}">Mis à jour le {{ date | readableDate }}</time></p>
    {% endif %}
  </div>

  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-tile fr-tile--horizontal fr-mb-2w">
        <div class="fr-tile__body">
            <h2 class="fr-tile__title">Priorité :</h2>
            <p class="fr-tile__desc">{{ priority }}</p>
        </div>
    </div>

    <div class="fr-tile fr-tile--horizontal fr-mb-2w">
        <div class="fr-tile__body">
            <h2 class="fr-tile__title">Difficulté de mise en oeuvre :</h2>
            <p class="fr-tile__desc">{{ difficulty }}</p>
        </div>
    </div>

    <div class="fr-tile fr-tile--horizontal fr-mb-2w">
        <div class="fr-tile__body">
            <h2 class="fr-tile__title">Exemple(s) de pilote(s) :</h2>
            <ul class="fr-tile__desc">
                {%- for item in who -%}
                <li>{{ item }}</li>
                {%- endfor -%}
            </ul>
        </div>
    </div>

    <div class="fr-tile fr-tile--horizontal fr-mb-2w">
        <div class="fr-tile__body">
            <h2 class="fr-tile__title">Exemple(s) d'indicateur(s) de pilotage :</h2>
            <p class="fr-tile__desc">
                <ul>
                {% for indicator in indicators %}
                    <li>{{ indicator }}</li>
                {% endfor %}
                </ul>
            </p>
        </div>
    </div>
  </div>
</div>
