---
layout: layouts/bonne-pratique/default.njk
---

{{ content | safe }}

<h2>Exemples de bonnes pratiques</h2>

<ul>
{% for bonnePratique in collections.all | eleventyNavigationExtended(eleventyNavigation.key) %}
    <li><a href="{{ bonnePratique.url }}">{{ bonnePratique.data.title }}</a></li>
{% endfor %}
</ul>
