---
layout: layouts/bonne-pratique/default.njk
---

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
  <div class="fr-col-12 fr-col-md-8">
    {{ content | safe }}
  </div>

  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-tile fr-tile--horizontal fr-mb-2w">
        <div class="fr-tile__body">
            <h2 class="fr-tile__title">Priorité</h2>
            <p class="fr-tile__desc">{{ priority }}</p>
        </div>
    </div>

    <div class="fr-tile fr-tile--horizontal fr-mb-2w">
        <div class="fr-tile__body">
            <h2 class="fr-tile__title">Difficulté de mise en oeuvre</h2>
            <p class="fr-tile__desc">{{ difficulty }}</p>
        </div>
    </div>

    <div class="fr-tile fr-tile--horizontal fr-mb-2w">
        <div class="fr-tile__body">
            <h2 class="fr-tile__title">{% if who.length > 1 %}Exemples de pilotes{% else %}Exemple de pilote{% endif %}</h2>
            <ul class="fr-tile__desc">
                {%- for item in who -%}
                <li>{{ item }}</li>
                {%- endfor -%}
            </ul>
        </div>
    </div>

{% if indicators.length %}
    <div class="fr-tile fr-tile--horizontal fr-mb-2w">
        <div class="fr-tile__body">
            <h2 class="fr-tile__title">{% if indicators.length > 1 %}Exemples d'indicateurs de pilotage{% else %}Exemple d'indicateur de pilotage{% endif %}</h2>
            <p class="fr-tile__desc">
                <ul>
                {% for indicator in indicators %}
                    <li>{{ indicator }}</li>
                {% endfor %}
                </ul>
            </p>
        </div>
    </div>
{% endif %}
  </div>
</div>
