---
layout: layouts/base.njk
---

<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-189">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-189">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/publications/">Publications</a>
            </li>
        {% if page.url == '/publications/guide-pratique-achats-numeriques-responsables/' %}
            <li>
                <a class="fr-breadcrumb__link" aria-current="page" href="/publications/guide-pratique-achats-numeriques-responsables">Guide pratique pour des achats numériques responsables</a>
            </li>
        {% else %}
            <li>
                <a class="fr-breadcrumb__link" href="/publications/guide-pratique-achats-numeriques-responsables">Guide pratique pour des achats numériques responsables</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" aria-current="page">{{ title }}</a>
            </li>
        {% endif %}
        </ol>
    </div>
</nav>

<h1>{{ title }}</h1>

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">

    <div class="fr-col-md-8">
        {{ content | safe }}

        {%- if date %}<p class="fr-tag"><time class="postlist-date" datetime="{{ date | htmlDateString }}">Publié le {{ date | readableDate }}</time></p>{% endif %}
    </div>
    
    <div class="fr-col-md-4">
        <nav class="fr-sidemenu fr-sidemenu--right fr-sidemenu--sticky" role="navigation" aria-label="Menu latéral">
            <div class="fr-sidemenu__inner">
                <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Sommaire</button>
                <div class="fr-collapse" id="fr-sidemenu-wrapper">
                    <div class="fr-sidemenu__title">Guide pratique pour des achats numériques responsables</div>
                        <ul class="fr-sidemenu__list">
                            {% for item in collections.all | eleventyNavigation("guideachat") %}
                                <li class="fr-sidemenu__item {% if item.url == page.url %}fr-sidemenu__item--active{% endif %}">
                                    <a class="fr-sidemenu__link" href="{{ item.url | url }}" class="fr-card__link" aria-current="{% if item.url == page.url %}page{% endif %}">{{ item.title }}</a>
                                </li>
                            {% endfor %}

                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="/publications/guide-pratique-achats-numeriques-responsables/introduction" target="_self" aria-current="">Introduction</a>
                            </li>
                            <li class="fr-sidemenu__item">
                                <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-1">La démarche vers un numérique responsable</button>
                                <div class="fr-collapse" id="fr-sidemenu-item-1">
                                    <ul class="fr-sidemenu__list">
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self" aria-current="">Qu’est-ce que le numérique responsable ?</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Qu'est-ce que l’analyse de cycle de vie (ACV) ?</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Quelles sont les alternatives à l’achat du neuf ?</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Comment réussir la gestion de la fin de vie des équipements ?</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Que prévoit la loi ?</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="fr-sidemenu__item">
                                <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-2">Les labels</button>
                                <div class="fr-collapse" id="fr-sidemenu-item-2">
                                    <ul class="fr-sidemenu__list">
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Produits</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Organisation</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Interministériel</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="fr-sidemenu__item">
                                <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-3">Fiches pratiques par segment d’achats</button>
                                <div class="fr-collapse" id="fr-sidemenu-item-3">
                                    <ul class="fr-sidemenu__list">
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Matériels bureautiques : PC fixes - portables - écrans - tablettes</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Solutions d’impression</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Réseaux et télécoms</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Matériels d’infrastructures informatiques et services d’hébergement / solutions hébergées</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Prestations Intellectuelles (P2i)</a>
                                        </li>
                                        <li class="fr-sidemenu__item">
                                            <a class="fr-sidemenu__link" href="#" target="_self">Logiciels</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="#" target="_self">Glossaire</a>
                            </li>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="#" target="_self">Webo-bibliographie</a>
                            </li>
                            <li class="fr-sidemenu__item">
                            {% if entry.url == page.url %} fr-nav__item--active{% endif %}
                            
                                <a class="fr-sidemenu__link" href="/publications/guide-pratique-achats-numeriques-responsables/equipe-projet" target="_self">Equipe projet</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
