---
layout: layouts/base.njk
---

{% include "breadcrumb.njk" %}

<h1>{{ title }}</h1>

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
  <div class="fr-col-12 fr-col-md-8">
    {%- if date %}
      <p><time class="fr-tag" datetime="{{ date | htmlDateString }}">Publié le {{ date | readableDate }}</time></p>
    {% endif %}

    {{ content | safe }}
  </div>

  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card fr-enlarge-link">
{%- if link or image or linkImage %}
      {%- if link %}
        <div class="fr-card__body">
            <h2 class="fr-card__title">
                <a href="{{ link }}" class="fr-card__link">{{ linkTitle }}</a>
            </h2>
        </div>
      {% endif %}

      {%- if image or linkImage %}
        <div class="fr-card__img">
            <img src="{{ image or linkImage }}" alt="">
        </div>
      {% endif %}
{% else %}
      <div class="fr-card__body">
          <h2 class="fr-card__title">
              <a href="/actualités/" class="fr-card__link">Actualités</a>
          </h2>
      </div>
      <div class="fr-card__img">
          <img src="/img/guide-achats.png" alt="">
      </div>
{% endif %}
    </div> 
  </div>
</div>
