---
layout: layouts/base.njk
---

<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/publications/">Publications</a>
            </li>
        {% if page.url == '/publications/referentiel-general-ecoconception/' %}
            <li>
                <a class="fr-breadcrumb__link" aria-current="page" href="/publications/referentiel-general-ecoconception/">Référentiel général d'écoconception de services numériques</a>
            </li>
        {% else %}
            <li>
                <a class="fr-breadcrumb__link" href="/publications/referentiel-general-ecoconception/">Référentiel général d'écoconception de services numériques</a>
            </li>
            {% if critere %}
                <li>
                    <a class="fr-breadcrumb__link" href="/publications/referentiel-general-ecoconception/#{{ critere.thematique | slug }}">{{ critere.thematique }}</a>
                </li>
            {% endif %}
            <li>
                <a class="fr-breadcrumb__link" aria-current="page">{{ 'Critère ' ~ critere.numero if critere.numero else title }}</a>
            </li>
        {% endif %}
        </ol>
    </div>
</nav>

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
    
    <nav class="fr-sidemenu fr-sidemenu--sticky fr-col-12 fr-col-md-4" role="navigation" aria-label="Menu latéral">
        <div class="fr-sidemenu__inner">
            <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Sommaire</button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
                <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item {% if '/publications/referentiel-general-ecoconception/' == page.url %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="/publications/referentiel-general-ecoconception/" {% if '/publications/referentiel-general-ecoconception/' == page.url %}aria-current="page"{% endif %}>Le référentiel</a>
                    </li>

                    {% for item in collections.all | eleventyNavigation("referentiel-ecoconception") %}
                        <li class="fr-sidemenu__item {% if item.url == page.url %}fr-sidemenu__item--active{% endif %}">
                            <a class="fr-sidemenu__link" href="{{ item.url | url }}" {% if item.url == page.url %}aria-current="page"{% endif %}>{{ item.title }}</a>
                        </li>
                    {% endfor %}

                    <li class="fr-sidemenu__item">
                        <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="sidemenu-autres">Autres ressources</button>
                        <div class="fr-collapse" id="sidemenu-autres">
                            <ul class="fr-sidemenu__list">
                                <li class="fr-sidemenu__item">
                                    <a class="fr-sidemenu__link" href="/declaration-ecoconception/" target="_blank" title="Déclaration d'écoconception - Nouvelle fenêtre">Exemple de déclaration d'écoconception <span class="fr-fi-external-link-line fr-link--icon-right" aria-hidden="true"></span></a>
                                </li>
                                <li class="fr-sidemenu__item">
                                    <a class="fr-sidemenu__link" href="{{ metadata.referentielEcoconception.consultationUrl }}" target="_blank" title="Consultation publique - Nouvelle fenêtre">Consultation publique <span class="fr-fi-external-link-line fr-link--icon-right" aria-hidden="true"></span></a>
                                </li>
                                <li class="fr-sidemenu__item">
                                    <a class="fr-sidemenu__link" href="/publications/ecoconception-securite/" target="_blank" title="Écoconception, cybersécurité et protection des données, quelles synergies ? - Nouvelle fenêtre">Écoconception, cybersécurité et protection des données, quelles synergies ? <span class="fr-fi-external-link-line fr-link--icon-right" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <div class="fr-col-12 fr-col-md-8">
        <h1>{{ title }}</h1>

        <p class="fr-py-2w fr-text--sm">Version {{ metadata.referentielEcoconception.versionTitle }}. Dernière mise à jour le <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>

        {{ content | safe }}
    </div>
</div>
