---
layout: layouts/base.njk
---

{% include "components/breadcrumb.njk" %}

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
  <div class="fr-col-12 fr-col-md-8 fr-col-offset-md-2">
    <h1>{{ title }}</h1>

    {%- if date %}
      <p class="fr-text--sm">Dernière mise à jour le <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>
    {% endif %}

    {{ content | safe }}
  </div>
</div>
