---
layout: layouts/base.njk
---

{% include "breadcrumb.njk" %}

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
  <div class="fr-col-12 fr-col-md-8 fr-col-offset-md-2">
    <h1>{{ title }}</h1>

    {%- if date %}
      <p class="fr-text--sm">Dernière mise à jour le <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>
    {% endif %}

    <iframe
      width="400"
      height="496"
      src="{{ embedVideoUrl }}?autoplay=1"
      srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href={{ embedVideoUrl }}?autoplay=1><img src={{ image }} alt='{{ title }}'><span aria-hidden='true'>▶</span></a>"
      frameborder="0"
      allowfullscreen
      allow="autoplay"
      title="Voir la vidéo {{ title }}"
    ></iframe>

    <h2>Transcription</h2>

    {{ content | safe }}
  </div>
</div>
