---
layout: layouts/base.njk
title: Boite à outils numérique écoresponsable
description: Sélection non-exhaustive d'outils open source et libres d'utilisation dédiés aux impacts environnementaux du numérique
date: 2023-07-18
image: /img/outils/outils.png
type: publication
focus: false # Cette publication est en 3e section
category: autres  # Champ supplémentaire pour distinguer de la 2e section
eleventyNavigation:
  key: boiteoutils
  parent: publications
  title: Boite à outils numérique écoresponsable
  image: /img/outils/outils.png
  date: 2023-07-18
  order: 70
---

{% include "breadcrumb.njk" %}

<h1>{{ title }}</h1>

<p class="fr-text--sm">Dernière mise à jour le <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-md-8">
    <p>Sélection non-exhaustive de logiciels libres et open source dédiés aux impacts environnementaux du numérique.</p>

    <div class="fr-highlight">
      <p>
        Le référencement de ces outils, volontairement limité en quantité pour en faciliter l’appropriation, la classification et les descriptions ont été réalisés par la DINUM. Celle-ci n’engage pas sa responsabilité quant à la fiabilité des méthodologies utilisées, le code ou la qualité des outils.
      </p>
      <p>
        Un logiciel libre et open source manque dans cette liste ? Vous êtes une administration publique ou une collectivité, vous utilisez déjà certains de ces outils ? <a href="/contact">Nous contacter</a>.
      </p>
      <p>
        Les autres catalogues disponibles : <a href="https://sill.etalab.gouv.fr/">Socle Interministériel de Logiciels Libres</a> et <a href="https://catalogue.numerique.gouv.fr/">Catalogue GouvTech</a>.
      </p>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4">
    <img src="{{ image }}" alt="" />
  </div>
</div>

<div class="fr-grid-row fr-grid-row--gutters">
   
{% for tool in collections.tool | sort(attribute="data.title") %}
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
            <p class="fr-card__detail">{{ tool.data.category }} / {{ tool.data.scope }}</p>
            <h2 class="fr-card__title">
                <a href="{{ tool.url | url }}" class="fr-card__link">{{ tool.data.title }}</a>
            </h2>
            {% if tool.data.description %}
            <p class="fr-card__desc">
              {{ tool.data.description }}
            </p>
            {% endif %}
        </div>
    </div> 
  </div>
{% endfor %}

</div>
